@import "tailwindcss";
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  color-scheme: light dark;
}

a {
  text-decoration: none;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}
